.RosNodeHealth {
  float: right;
}

.RosNodeHealth .MuiTableCell-root {
  font-size: small;
  padding: 0 1px;
}

.RosNodeHealth .MuiTable-root {
  width: unset;
  margin: 3px;
}

.RosNodeHealth .crashed {
  background: lightcoral;
}
