# Copy to /lib/systemd/system
[Unit]
Description=Roslaunch the drive modules

[Service]
ExecStart="/home/ubuntu/rover/launch.sh"
KillMode=process
User=ubuntu
Type=forking

[Install]
WantedBy=multi-user.target

