# Copy to /lib/systemd/system
[Unit]
Description=Roslaunch the drive modules
After=multi-user.target

[Service]
ExecStart="/home/ubuntu/rover/launch.sh"
KillMode=process
User=ubuntu

[Install]
WantedBy=default.target

