.snackbar-message {
    display: flex;
    align-items: center;
}

.snackbar-error {
    background-color: darkred;
}

.snackbar-messagelist {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.MuiSnackbarContent-root {
    background-color: inherit !important;
}

.ReactNipple {
    position: relative;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 1920px) {
    .ReactNipple {
        position: relative;
        bottom: 0;
        right: 0;
    }
}
