.WebsocketUrlInput .Disconnected {
  background: #FDDFDF;
}

.WebsocketUrlInput .Connected {
  background: #DEFDE0;
}

.WebsocketUrlInput .Changed {
  background: #FCF7DE;
}

.WebsocketUrlInput .timestamp {
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  background: #FFFFFFCC
}

.WebsocketUrlInput {
  width: max-content;
  margin: auto;
}

